:root
{
    --button-text: #2196f3;
    --header-fotter: #2f303a;
    --ourteam: #f5f4fa;
    --portfolio: #EEEEEE;
    --h1text: #FFFFFF;
    --add-information: #757575;
    --standart-text: #212121;
    --line: #ECECEC;
}

